
<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
        <h3>My App</h3>
    </mat-toolbar-row>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <button mat-menu-item [routerLink]="'/login'">Login</button>
    <button mat-menu-item [routerLink]="'/user'">User</button>
</mat-menu>


<router-outlet></router-outlet>
<!-- <mat-sidenav-container>
    <mat-sidenav #Menu='matMenu'>
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/login'">Login Page</a>
            <a mat-list-item [routerLink]="'/home'">Home Page</a>
         
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
    <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container> -->

<!-- <app-home></app-home> -->